/*  RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */
.debug .header-top{
    background-color: #add8e6;
}
.debug .header-bottom{
    background-color: #001e83;
}
.debug .header-top>.container{
    background-color: #daa520;
}
.debug .header-top>*{
    border: 1px dashed black;
}
.debug .col-center{
    background-color: #ee82ee;
    border: 1px dashed;
}
.debug .col-big{
    background-color: #1f90ff;
    border: 1px dashed;
}
.debug .col-small{
    background-color: #ffc0cb;
    border: 1px dashed;
}
.debug .col-green{
    background-color: #228b22;
    border: 1px dashed;
}
.debug .col-big-red{
    background-color: #ef8080;
    border: 1px dashed;
}
.debug .col-small-green{
    background-color: #21b2aa;
    border: 1px dashed white;
}
.debug .footer-bottom>.container{
    background-color: #80fed4;
}
.debug .logo1{
    background-color: #ecb7c2;
    border: 1px dashed;
}
.debug .bottone{
    background-color: #ecb7c2;
    border: 1px dashed;
}




/* GENERAL */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}




/* TYPOGRAPHY */
body{
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

h1{
    font-size: 40px;
}




/* BUTTONS */
.btn{
    border-radius: 20px;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
}

.btn > i{
    margin-right: 6px;
}

.btn-large{
    padding: 10px 16px;
    font-size: 16px;
}

.btn-white {
    background-color: white;
}

.btn-black{
    background-color: #23252a;
    color: white;
}

.col-center-buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
}





/* HEADER */
header{
    color: white;
}

.header-top {
    background-color: #255EEB;
    padding: 15px 0;
}

.header-bottom {
    padding: 150px 0;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.header-top>.container {
    display: flex;
    align-items: center;
}

.header-top>* {
    padding: 6px;
}

.header-top .logo,
.header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.header-top nav {
    width: 60%;
    text-align: center;
}

.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.col-center {
    min-height: 150px;
    width: 800px;
    text-align: center;
}

.header-bottom .col-center>p{
    margin-top: 30px;
    margin-bottom: 20px;
}



/* MAIN */
.section {
    padding: 30px 0;
}

.col-big {
    min-height: 250px;
    width: 1000px;
}

.col-small {
    min-height: 250px;
    width: 400px;
}

.second-section {
    background-color: lightgray;
    padding: 30px 0;
}

.col-green {
    min-height: 600px;
    width: 1200px;
}




/* FOOTER */
.footer-section { 
    background-color: #22272a;
    padding: 30px 0;
}

.col-big-red {
    min-height: 500px;
    width: 500px;
}

.col-small-green {
    min-height: 500px;
    width: 15%;
}

.footer-bottom>.container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo1 {
    padding: 6px;
}

.bottone {
    padding: 6px;
}