/*  RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* GENERAL */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}




/* TYPOGRAPHY */
body{
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

h1{
    font-size: 40px;
}

h2{
    text-align: center;
}


/* BUTTONS */
.btn{
    border-radius: 20px;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
}

.btn > i{
    margin-right: 6px;
}

.btn-large{
    padding: 10px 16px;
    font-size: 16px;
}

.btn-white {
    background-color: white;
}

.btn-black{
    background-color: #23252a;
    color: white;
}

.col-center-buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn-viola{
    background-color: #979cdd;
    color: white;
}



/* HEADER */
header{
    color: white;
}

.header-top {
    background-color: #255EEB;
    padding: 15px 0;
}

.header-bottom {
    padding: 150px 0;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.header-top>.container {
    display: flex;
    align-items: center;
}

.header-top>* {
    padding: 6px;
}

.header-top .logo,
.header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.header-top nav {
    width: 60%;
    text-align: center;
}

.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.col-center {
    width: 800px;
    text-align: center;
}

.header-bottom .col-center>p{
    margin-top: 30px;
    margin-bottom: 20px;
}



/* MAIN */
.section {
    padding: 30px 0;
}

.col-big {
    width: 60%;
}

.col-small {
    width: 40%;
    padding: 90px 90px;
}

.second-section {
    background-color: lightgray;
    padding: 30px 0;
}

.col-green {
    width: 85%;
    padding: 30px 30px;
    text-align: center;
}

.col-big img{
    max-width: 100%;
}

.col-green h1, p{
    text-align: center;
}


/* FOOTER */
.footer-section { 
    background-color: #22272a;
    padding: 30px 0;
}

.col-big-red {
    min-height: 500px;
    width: 500px;
}

.col-small-green {
    min-height: 500px;
    width: 15%;
}

.footer-bottom>.container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo1 {
    padding: 6px;
}

.bottone {
    padding: 6px;
}